body{
    background-color: #F5F5F5;
}

footer{
    background-color: #212F3D;
}

.footer-text-white{
    color:F5F5F5;
}

.header{
    border-bottom: solid 1px #000000;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.bottom-space-row{
    margin-bottom: 20px;
}

